.heading {
  margin: 0;
  width: 1000px;
  height: 200px;
  border: 2px solid green;
  background-color: greenyellow;

}

.heading-text {
  margin: auto;
  text-align: right;
  padding-right: 95px;
  font-size: 50px;
  padding-top: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.site {
  margin: 0 auto;
  text-align: right;
  padding-right: 265px;
  font-size: 25px;

}

body {

  background-color: blanchedalmond;
}

#wrapper {
  margin: 0 auto;
  width: 1100px;
  height: 820px;
  border: 2px solid brown;
}

.container-foot {
  margin: auto;
  margin-top: 50px;
  width: 900px;
  height: 50px;
  border: 2px solid rgb(149, 240, 13);
  background-color: rgb(149, 240, 13);
}

.foot-text {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}



.p1 {
  color: blue;
  text-align: center;
  border: 2px solid  rgb(149, 240, 13);
  width: 90px;
  height: 30px;
  background-color: rgb(149, 240, 13) ;
  margin-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container1 {
  width: 250px;
  height: 290px;
  border: 2px solid burlywood;
  padding-left: 25px;
  margin-left: 20px;
  margin-top: 20px;


}

.container2 {
  width: 250px;
  height: 290px;
  border: 2px solid burlywood;
  padding-left: 25px;
  margin-left: 20px;
  margin-top: 30px;
}

.menu {
  width: 220px;
  height: 40px;
  border: 2px solid brown;
  margin-right: 25px;
  background-color: rgb(149, 240, 13);

}

.text-menu {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.li-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

ul {
  padding-left: 20px;
  list-style-type: square;
}

.sitebody {
  margin: auto;
  margin-top: 20px;
  margin-right: 15px;
  width: 770px;
  height: 640px;
  border: 2px solid rgb(245, 197, 138);
  float: right;
}

.sitehead {
  margin: 0;
  padding: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.sitetext {
  margin: 0;
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;

}
.body-menu {
  text-align: center;
  background-color: azure;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container3{
  width: 335px;
  height: 350px;
  border: 2px solid burlywood;
  padding-left: 25px;
  margin-left: 20px;
  
  
}
.container4{
  margin: 0;
  width: 335px;
  height: 350px;
  border: 2px solid burlywood;
  padding-left: 25px;
  margin-left: 30px;
  float: right;
  margin-right: 10px;
}

.container3-head{
  margin: 0;
  padding: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.container-text{
  margin: 0;
  text-align: justify;
  padding: 19px;
  margin-right: 20px;
}

.navbar{
  border: 2px solid skyblue;
  width: 1060px;
  height: 30px;
  background-color: rgb(220, 220, 248) ;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
}
.navbar ul li{
  list-style: none;
  float: left;
  width: 140px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 33px;
  display: block;
  color: black;

}
